/* ======about section styling =======*/
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: var(--sub_tex_color);
}
.about .about-content .right p{
    text-align: justify;
    font-size: 15px;
}