/*=======ROOT=========*/  
:root{
    // colors
    --main_color: linear-gradient(45deg, #2a3eca, #2637b3 );
    --icon_Bg:#141a49;
    --light_icon_Bg:#1e234b;
    --type_color:#081263;
    --card_Bg:#1c0d81;
    --body_bg:#f1f1f1;
    --sub_tex_color:#2a3eca;
    --light_sub_tex_color:#6873c4;
    --white_color:#fff;
    --borders: rgb(44, 44, 206);
    --lines-1:#111;
    --back_color:#000;
    --gray_color:rgb(121, 121, 121);
}