/* services section styling */
.services{
    color:var(--white_color);
    background: var(--lines-1);
}
.services .title::before,
 .title::before{
    background:var(--white_color);
}
.services .title::after,
.title::after{
    background: var(--lines-1);
    content: "what i provide";
}
.services .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.services .box-container .box{
    font-family: 'Ubuntu', sans-serif;
    background: var(--body_bg);
    border-radius: 10px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    margin:1rem;
    padding:1rem;
    width:35rem;
    text-align: center;
    position: relative;
    z-index: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.services .box-container .box .number{
    position: absolute;
    top:1.5rem; left: 2rem;
    font-size: 2.5rem;
    color:var(--back_color);
}
.services .box-container .box .iconx{
    height:7rem;
    width:7rem;
    margin:1rem;
    font-size: 100px;
}
.services .box-container .box h3{
    font-size: 2rem;
    color:var(--sub_tex_color);
}
.services .box-container .box p{
    color:var(--lines-1);
    padding:1rem;
    font-size: 15px;
}
.services .box-container .box::before{
    content: '';
    position: absolute;
    top:0; left: 0;
    height: 100%;
    width: 100%;
    background:var(--main_color);
    z-index: -1;
    clip-path: circle(25% at 0 0);
    opacity: .1;
    transition: .3s;
}
.services .box-container .box:hover::before{
    clip-path: circle(100%);
}